[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"bs4" = "*"
scikit-learn = "*"
requests = "*"
keras = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
